/* common Styles */
body{
    font-family:'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* Header section Styles */
.head{
    width:100%;
    height:100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}
.logo-image{
    width: 86.041px;
    height: 40px;
    padding-left: 60px;
}
.logo-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}
.logo-title span{
    color: #fc14c2;
}

.nav> ul{
    display: flex;
    align-items: center;
    padding-left: 490px;
}
.nav li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 51px;
    padding-top: 22px;
}
.nav li a{
    text-decoration: none;
    color: #3C354F;

}
.nav-icon{
    display: flex;
    text-align: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-top: 20px;
    margin-right: 150px;
}
.nav-icon> ul{
    align-items: center;
}
.nav-icon li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: -10px;
}
.nav-icon li a{
    color: #3C354F;
    text-decoration: none;
}
.nav-icon-image{
    display: flex;
    align-items: center;
}
.nav-icon-image-1{
    width: 66.916px;
    height: 50px;
}
.nav-icon-image-2{
    background-color: white;
    width: 33.916px;
    height: 24px;
}
/* banner section styles */
.banner{
    display: flex;
}

.banner-container{
    width: 901px;
    height: 700px;
    background-image: url(../images/Group\ 14.png);
}

.container-title{
    color: #0B0223;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 80px;
    padding-top: 60px;
    margin-bottom: 0px;
}
.container-name{
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 80px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.container-details> ul{
    list-style: none;
}
.container-details li {
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    padding-left: 38px;
    margin-top: 15px;
}

.button{
    display: flex;
}
.btn-first{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 17px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-left: 80px;
    margin-top: 30px;
}
.btn-second{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 17px 40px;
    align-items: flex-start;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 40px;
    margin-top: 30px;
}

/* content section styles */
.content{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.content-image img{
    width: 868px;
    height: 489px;
    padding-left: 155px;
    padding-top: 60px;
}
.content-content{
    margin-right: 150px;
}
.content-content-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-content-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 75px;
}
#btn-know{
    margin-left: 380px;
}
.Our-purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; 
    margin-left: 400px;
}
.unleash{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; 
    margin-left: 200px;
}

/* Funny games Styles */
.games-card{
    display: flex;
    padding-left: 115px;
    gap: 50px;
}
.funny-games-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 60px;
    margin-bottom: 0px;
}
.funny-games-title span{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-games-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.games-image{
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    gap: 30px;
}
.games-title{
    width: 342px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    padding-top: 10px;
}

/* post container styles */
.post-container{
    display: flex;
    padding-left: 310px;
    margin-top: 160px;
}
.post-container-title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 120px;
    padding-right: 120px;
}
.post-container-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.post-container-description{
    color: #534C64;
    text-align:center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 470px;
    padding-top: 0px;
    margin-right: 90px;
}
.post-img{
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
    padding-left: 110px;
}
.post-small-img{
    width: 318.10;
    height: 365.083px;
    position:relative ;
    bottom: 250px;
    right: 15px;

}
/* feature section styles */
.feature{
    height: 850px;
    display: flex;
    padding-left: 220px;
    margin-top: 20px;
}
.feature-img{
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
    padding-right: 280px;
}
.feature-small-img{
    width: 318.5px;
    height: 365.083px;
    position:relative ;
    bottom: 250px;
    right: -470px;
}
.feature-container-title{
    text-align:left;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 120px;
    padding-right: 120px;
    margin-bottom: 0px;
}
.feature-container-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.feature-container-description{
    color: #534C64;
    text-align:left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 470px;
    padding-top: 10px;
}

/* fact section styles */
.fact{
    display: flex;
    width:100%;
    height: 821px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    position: relative;
    
}
.fact-content{
    background-image: url(../images/Group\ 14.png);
    height: 821px;
    background-repeat: no-repeat;
    padding-left: 120px;
}
.fact-content-title{
    color: #FFF;
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.fact-content-description{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
    margin-bottom: 0px;
    width: 640px;
}
.fact-rules{
    display: flex;
    gap: 40px;
}
.fact-rules h3{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fact-rules h2{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-four{
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: #FFF;
    margin-top: 40px;
}
.fact-container img{
    width: 990px;
    height: 821px;
}

/* sponcer section styles */

.sponcer{
    height: 427px; 
}
.sponcer-part-1{
    display: flex;
    padding-left: 210px;
    gap: 30px;
}
.sponcer-code{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    border:2px solid #ee3aa6; 
    background: #FFF;
    margin-top: 80px;
    margin-bottom: 0px;

}
.sponcer-code h4{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.sponcer-code-image{
    padding: 10px;
    width: 60px;
    height: 60px;
}
.sponcer-part-2{
    display: flex;
    padding-left: 350px;
    gap: 30px;
    padding-top: 0px;}

/* footer section styles */
.footer{
    width:100%;
    height: 636px;
    background: #0B0223;
}
.footer-name{
    display: flex;
    padding-top: 0px;
    margin-bottom: 0px;
}
.footer-name img{
    width: 86.041px;
    height: 40px;
    padding-top: 120px;
    padding-left: 765px;
    margin-bottom: 0px;
}
.footer-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    padding-left: 30px;
    padding-top: 60px;
    margin-bottom: 0px;
}
.footer-title span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-option{
    display: flex;
    padding-left: 375px;

    
}
.footer-option h3{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-left: 80px;
    margin-top: 80px;
    margin-bottom: 0px;
}
.footer-icon>ul{
    display: flex;
    padding-left: 530px;
    padding-top: 60px;
    margin-bottom: 0px;
}
.footer-icon li{
    list-style: none;
    
}
.footer-icon li i{
    color: #FFF;
    font-size: 40px;
    width: 80px;
    height: 80px;
    padding-left: 40px;
}
.footer-policy{
    display: flex;
    padding-left: 420px;
    padding-top: 20px;
    margin-bottom: 0px;
}
.footer-policy-title{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-left: 90px;
}
.footer-date{

}
.footer-date{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}
/* Media Quary Styles */

/* small devies media quary */
@media screen and (max-width:576px;) {

}

/* midium devies media quary */
@media screen and (min-width:576px;) and (max-width:998px;){
}